.maindiv{
  background: blue;
  display: flex;
  justify-content: space-between;
}
.leftdiv{
  width: 50%;
  background: pink;
  margin: 5px;
  text-align: center;
}
.rightdiv{
  width: 50%;
  background: violet;
  margin: 5px;
  padding: 5px;
}
.images1{
  width: 40%;
}
@media all and (max-width:768px) {
  body{
    background: red;
  }
.maindiv{
  flex-wrap: wrap;
  width: 100%;
}
.leftdiv{
  width: 100%;
  position: relative;
  display: flex;

}
.rightdiv{
  width: 100%;
  margin-left: 0%;
 }
}
